*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
node_modules
jspm_packages
npm-debug.log

# dotenv
.env

# Vim
*.swp
*.swo

# macOS
.DS_Store

# Coverage
coverage
.nyc_output
./docs/coverage
